<div class="card mb-2">
    <div class="card-body">
        <div class="card card-post w-100 border-0">
            <div class="card-body p-0">
                <h4 class="card-title mb-4">
                    <a href="/pages/2020/05/15/geodesy-search-engine.html">Geodesy Search Engine</a>
                </h4>
                <h6 class="card-subtitle mb-3 text-secondary">
                    15 May 2020
                </h6>
                <div class="card-text d-flex align-items-center mb-2">
                    <div>
                        <span class="d-inline-block border rounded p-1 mr-1 mb-1 tag tag-vuejs">
                            vuejs
                        </span>

                        <span class="d-inline-block border rounded p-1 mr-1 mb-1 tag tag-python">
                            python
                        </span>

                        <span class="d-inline-block border rounded p-1 mr-1 mb-1 tag tag-maps">
                            maps
                        </span>

                        <span class="d-inline-block border rounded p-1 mr-1 mb-1 tag tag-openlayers">
                            openlayers
                        </span>

                        <span
                            class="d-inline-block border rounded p-1 mr-1 mb-1 tag tag-google-app-engine">
                            google app engine
                        </span>
                    </div>
                </div>
                <div class="card-text mb-0">
                    <p>I’ve built a new hobby project. Geodesy is a quick spatial search engine for the
                        EPSG Geodetic Parameter Registry - <a
                            href="https://geodesy.appspot.com">https://geodesy.appspot.com</a>.</p>
                </div>
                <a href="/pages/2020/05/15/geodesy-search-engine.html">More...</a>

            </div>
        </div>
    </div>
</div>